{% extends "student/layout.html" %}
{% block body %}

    <form class="form-group" method="post" >
    {% csrf_token %}
    <table>
        <tr>
            <th colspan="2" > Student Entry Form</th>

        </tr>
        <tr>
            <th>Student Name :</th>
            <td><input type="text" name="sname"></td>
        </tr>
        <tr>
            <th>Age :</th>
            <td><input type="number" name="age"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Add">
                <input type="reset" value="clear">
            </td>
        </tr>
    </table>
    </form>

    <h2>{{ msg }}</h2>

{% endblock %}